@import 'reset';
@import 'mixin';
@import 'variaveis';

.areas {
    display: grid;
    grid-template-areas:
        'header header header header'
        'main main main main main'
        'footer footer footer footer '
    ;
    min-height: 100vh;

}

.app_content {
    background-color: $bgApp;

    @include media('xl2') {
        //kakak
    }
}